body 
{
    font-family:verdana, Arial, 微软雅黑;
}

*
{
    margin:0px;
    padding:0px;
}

#main
{
    height:600px;
}

#middle-left
{
    padding:10px 0px 0px 10px;
    float:left;
    width:240px;
}

.title span
{
    font-family:Arial;
    font-size:15px;
    color:#000;
}

#middle-left .line img
{
    width:200px;
    overflow:hidden;
    float:left;
}

#middle-left p
{
    text-align:left;
    font-size:14px;
    word-spacing:normal;
    width:200px;
    padding-left:10px;
}

#left-bottom img
{
    width:180px;
}

#middle-main
{
    padding-top:10px;
    margin-left:200px;
}

#main p
{
    text-align:left;
    font-size:13px;
    width:760px;
    word-spacing:normal;
    padding-bottom:4px;
}

#main p img
{
    height:150px;
    margin-left:60px;
}

#middle-main div.title,#main
{
    padding-left:20px;
}

div.main-bottom
{
    text-align:right;
    padding-right:150px;
}

.main-bottom img
{
    height:30px;
    width:30px;
    margin-bottom:-10px;
}

.main-bottom a
{
    text-decoration:none;
}

.main-bottom a:hover
{
    text-decoration:underline;
}

div.main-bottom2
{
    padding-top:100px;
}