* 
{
    padding:0px;
    margin:0px;
}

body 
{
    font-family:verdana, Arial, 微软雅黑;
}

div#container
{
    width:1024px;
    text-align:center;
    margin: auto;
}

div#content
{
    background-image:url(../images/content-background-1.jpg);
    padding-top:10px;
    width:1024px;
    height:568px;
}

div#content2
{
    background-image:url(../images/content-background-2.jpg);
    margin-left:15px;
    width:994px;
    height:550px;
}



div#main
{
    margin-left:250px;
    padding-top:45px;
    width:687px;
    overflow:hidden;
}

.title-main
{
    font-family:Arial;
    color:#375e00;
    font-size:16px;
    margin-bottom:10px;
}

.link-main p
{
    text-align:left;
}

div.bottom-main
{
    margin-top:190px;
}


