<%@ Master Language="C#" AutoEventWireup="true" CodeFile="ProductPage.master.cs"
    Inherits="ProductPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>China Jiangsu Int'l-Gardening</title>
    <link href="Css/Home_p.css" rel="Stylesheet" type="text/css" />
    <link href="Css/Header.css" rel="Stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head_p" runat="server">
    </asp:ContentPlaceHolder>
    <link href="Css/Footer.css" rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        function verifyInput() {
            var input = document.getElementById('txt_key');

            if (input.value == '' || input.value == 'Custom Search by item code, product name, category etc.') {
                alert('Please input the keyword.');
                return false;
            }
            else {
                return true;
            }
        }
        function inputTip(id, txts) {
            var obj = document.getElementById(id);
            setFlag();
            init();
            obj.onfocus = function () {
                if (obj.getAttribute("nul") == 1) {
                    obj.value = "";
                    obj.style.color = "";
                }
            }
            obj.onblur = function () {
                setFlag();
                init();
            }
            function setFlag() {
                if (obj.value.length == 0) {
                    obj.setAttribute("nul", 1);
                } else {
                    obj.setAttribute("nul", 0);
                }
            }
            function init() {
                if (obj.getAttribute("nul") == 1) {
                    obj.value = txts;
                    obj.style.color = "#CCC";
                    
                } else {
                    obj.style.color = "";
                }
            }
        }
</script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="container">
        <div id="header">
            <div id="logo">
                <img alt="" src="Images/logo.jpg" />
            </div>
            <div id="nav">
                <div class="help">
                    <ul>
                        <li><a href="#" onclick="window.external.addFavorite('http://natural-grdn.com/home.aspx','Natural Garden')">REMENBER ME</a></li>
                    </ul>
                </div>
                <div class="nav_bar">
                    <ul>
                        <li><a href="Home.aspx">HOME</a></li>
                        <li><a href="New.aspx">ALL NEW</a></li>
                        <li><a href="Promotion.aspx">PROMOTION</a></li>
                        <li><a href="Products.aspx?ptypeid=all">PRODUCTS</a></li>
                        <li class="last"><a href="Contact.aspx">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="search_bar">
                <input id="txt_key" type="text" runat="server" value=""/>
                    <script type="text/javascript">
                        inputTip("txt_key", "Custom Search by item code, product name, category etc.");
                        </script>
                        <asp:Button ID="btn" runat="server" Text="Search"  
                        OnClientClick= "return verifyInput();" onclick="btn_Click"/>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="content2">
                <asp:ContentPlaceHolder ID="ContentPlaceMain" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
        <div id="footer">
            <span class="left">©Copyright 2011 <a>NATURALGARDEN.com</a> All Right Reserved.</span>
            <div class="footer_middle">
                       <a href="Home.aspx">HOME</a>
                       <a href="New.aspx">ALL NEW</a>
                       <a href="Promotion.aspx">PROMOTION</a>
                       <a href="Products.aspx?ptypeid=all">PRODUCTS</a>
                       <a href="Contact.aspx">CONTACT US</a>
                </div>
            <span class="right">Powered by <a>iLazysoft</a></span>
        </div>
    </div>
    </form>
</body>
</html>
