
*
{
    margin:0px;
    padding:0px;
}

body 
{
    font-family:verdana, Arial, 微软雅黑;
}

div#footer
{
    background-image:url(../images/footer.jpg);
    height:49px;
}

#footer span
{
    color:White;
    margin-top:18px;
    font-family:Arial;
    font-size:10px;
    
}

span.left
{
    float:left;
    margin-left:25px;
}
span.right
{
    float:right;
    margin-right:25px;
}


div.footer_middle
{
    float:left;
    position:relative;
    margin-left:100px;
}

div.footer_middle a
{
    color:#FFF;
    text-decoration:underline;
    line-height:48px;
    font-size:small;
    padding-left:4px;
    
}