*
{
    margin:0px;
    padding:0px;
}

body 
{
    width:1024px;
    height:302px;
    font-family:verdana, Arial, 微软雅黑;
}

div#header
{
    margin-right:auto;
    margin-left:auto;
    width:1024px;
    height:302px;
    background-image:url(../images/head-background.jpg);
    background-repeat:no-repeat;
}

#logo
{
    float:left;
}

div#nav
{
    margin-left:256px;
    margin-right:20px;
}

#nav ul
{
    list-style-type:none;
}

#nav ul li
{
    display:inline-block;
}

div.help
{
    text-align:right;
    margin-top:7px;
}

.help ul
{
    height:20px;
}

.help li:first-child
{
    padding-right:10px;
    border-right: 2px solid #587d57;
}

.help li a
{
    font-size:10px;
    font-family:Arial;
    color:#587d57;
}

div.nav_bar
{
    margin-top:7px;
}

.nav_bar ul
{
    background-image:url(../images/nav_bar.jpg);
    height:37px;
}

.nav_bar li
{
    margin-top:10px;
    text-align:center;
    border-right:1px dashed white;
    width:140px;
}

.nav_bar li a
{
    color:#fff;
    font-size:13px;
    font-family:Arial;
}

li.last
{
    border-right:none;
}

#header li>a
{
    text-decoration:none;
}

.nav_bar a:hover
{
    color:Green;
    font-size:larger;
    font-weight:bold;
}

div.search_bar
{
    margin-top:7px;
    margin-bottom:7px;
}

#txt_key
{
    margin:0px;
    padding:0px;
    width:685px; 
    height:25px; 
    text-align:left; 
    vertical-align:middle;
}

#t1
{
    line-height:20px;
    height:20px;
    width:685px;
    border:1px solid #44a406;
}

#btn
{
    border:none;
    width:53px;
    height:24px;
    background-image:url(../images/search-btn.gif);
    color:#fff;
    font-family:Arial;
}