
*
{
    margin:0px;
    padding:0px;
}

body 
{
    font-family:verdana, Arial, 微软雅黑;
}

div#main
{
    padding-top:0px;
    width:687px;
    overflow:hidden;
}

.title-main
{
    font-family:Arial;
    color:#375e00;
    font-size:16px;
    margin-bottom:10px;
}

.link-main a
{
    width:165px;
    height:160px;
    white-space:nowrap;
    overflow:hidden;
}

.link-main a img
{
    width:164px;
}

.link-main div
{
    font-size:15px;
    width:164px;
    word-break:break-all; 
    white-space:normal; 
    word-wrap:break-word;
    font-family:@微软雅黑;
    height:36px;
    overflow:hidden;
}

.link-main span:hover
{
    color:Red;
    text-decoration:underline;
}

div.bottom-main
{
    margin-top:30px;
}

a.a_title 
{
    font-size:22px;
    color:#e46c13;
    text-decoration:none;
}
