
*
{
    margin:0px;
    padding:0px;
}

body 
{
    font-family:verdana, Arial, 微软雅黑;
}

div#main
{
    padding-top:15px;
    width:705px;
    overflow:hidden;
}

.title-main
{
    font-family:Arial;
    color:#375e00;
    font-size:16px;
}

.link-main
{
    height:435px;
}

.link-main a
{
    display:block;
    width:175px;
    height:145px;
    overflow:hidden;
}

.link-main img
{
    height:113px;
}

.pageButton
{
    margin-left:100px;
}